.env
.env.local
.env.test
.vscode/
__pycache__/
*.pyc
.DS_Store
logs/
*.log
coverage
node_modules/
dist/
build/
*.sqlite3
*.db
*.sqlite
*.bak
*.swp
.idea/
*.iml
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.obj
*.o